.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: beige;
}
body{
    padding: 0;
    margin: 0;
}
.header ul{
    display: flex;
    width: 500px;
    list-style-type: none;
    justify-content: space-around;
    margin: auto;
}
.header li{
    padding: 10px;
}
.header .link{
    text-decoration: none;
    font-size: 20px;
}
.school .link{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}
.header .link h2{
    margin: 0;
}
.active{
    font-weight: 800;
}
.custom-active{
    font-weight: 900;
    color: brown;
}
